# Cleaning data in python

In this notebook we will continue to work with the two data files resulting from scrapeing wikipedia and merging data from teh US Census Beureu. Before performing any exploratory data analysis or machine learning we have to clean the data, since although we created the dataset they are still somewhat messy. The workflow will consist of going through each dataset column by column and clean or change the data. Finally we will add some derived values from the dataset as new columns.

In [2]:
import pandas as pd
import os
import numpy as np

We will start with setting up the paths to both files.

In [3]:
current_folder = os.getcwd()
district_data = current_folder + '/data/resultingData/congress_merged.csv'
member_data = current_folder + '/data/resultingData/congress_members.csv'

In [4]:
member_frame = pd.read_csv(member_data)
member_frame

,Unnamed: 0,District,Member,Party,Party.1,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens
0,0,Alabama 1,Bradley Byrne,NaN,Republican,Alabama SenateAlabama State Board of Education,Duke University (BA)University of Alabama (JD),2014 (special),Fairhope,1955.0,{{marriage|Rebecca Dukes|1982}},4
1,1,Alabama 2,Martha Roby,NaN,Republican,"Montgomery, Alabama City Council",New York University (BM)Samford University (JD),2011,Montgomery,1976.0,Riley Roby,2
2,2,Alabama 3,Mike Rogers,NaN,Republican,"Calhoun County, Alabama CommissionerAlabama Ho...","Jacksonville State University (BA, MPA)Birming...",2003,Saks,1958.0,Beth,
3,3,Alabama 4,Robert Aderholt,NaN,Republican,"Haleyville, Alabama Municipal Judge",University of North AlabamaBirmingham–Southern...,1997,Haleyville,1965.0,Caroline McDonald,
4,4,Alabama 5,Mo Brooks,NaN,Republican,Alabama House of RepresentativesMadison County...,Duke University (BA)University of Alabama (JD),2011,Huntsville,1954.0,{{marriage|Martha Jenkins|1976}},4
...,...,...,...,...,...,...,...,...,...,...,...,...
456,456,NaN,Jim Langevin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,none,
457,457,NaN,Mark Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Camie,2
458,458,NaN,Mike McCaul,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linda Mays,5
459,459,NaN,Michael Clifton Burgess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laura Burgess,3
460,460,NaN,Filemon Vela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rose Vela,

We will start with droping the columns 'Unnamed 0' and 'Party'

In [5]:
member_frame = member_frame.drop(columns = ['Unnamed: 0','Party'])

Next we'll change the name 'Party.1' to simply 'Party'

In [6]:
member_frame = member_frame.rename(columns = {'Party.1':'Party'})

Next we'll split the dataFrame putting the rows where District is NaN into it's own frame. This is the data scraped from the wiki infoboxes which due to naming differences couldn't be directly joined on the main dataFrame.

In [7]:
extra_frame = member_frame[(member_frame['District'].isnull())]
extra_frame

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens
435,NaN,John Raymond Garamendi,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Patricia Wilkinson|1965}},6
436,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,Janine Bera,1
437,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Vera Davis|1974}},2
438,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,none,
439,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,none,
440,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,none,
441,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,Rosel Cloud,3
442,NaN,John Larson,NaN,NaN,NaN,NaN,NaN,NaN,Leslie Best,3
443,NaN,Rick Allen,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Robin Allen|1975}},4
444,NaN,Russell Mark Fulcher,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Kara||2018|end=div}},3
445,NaN,Chuy García,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Evelyn Garcia|1980}},3
446,NaN,Anthony Brown,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Patricia Arzuaga|1993|2009|end=div}...,3
447,NaN,Stephen Francis Lynch,NaN,NaN,NaN,NaN,NaN,NaN,Margaret Shaughnessy,1
448,NaN,Annie Kuster,NaN,NaN,NaN,NaN,NaN,NaN,Brad Kuster,2
449,NaN,Donald Milford Payne Jr.,NaN,NaN,NaN,NaN,NaN,NaN,Beatrice,3
450,NaN,Peter Thomas King,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Rosemary Wiedl|1967}},2
451,NaN,Jerrold Lewis Nadler,NaN,NaN,NaN,NaN,NaN,NaN,Joyce Miller (1976–present)<ref>{{cite web |t...,1
452,NaN,José Serrano,NaN,NaN,NaN,NaN,NaN,NaN,none,"5, including [[José M. Serrano]]"
453,NaN,Sean P. Maloney,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Randy Florke|2014}},3
454,NaN,Joe Morelle,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Mary Beth Bauer|1984}},3
455,NaN,Dave Joyce,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Kelly Joyce|1990}},
456,NaN,Jim Langevin,NaN,NaN,NaN,NaN,NaN,NaN,none,
457,NaN,Mark Green,NaN,NaN,NaN,NaN,NaN,NaN,Camie,2
458,NaN,Mike McCaul,NaN,NaN,NaN,NaN,NaN,NaN,Linda Mays,5
459,NaN,Michael Clifton Burgess,NaN,NaN,NaN,NaN,NaN,NaN,Laura Burgess,3
460,NaN,Filemon Vela,NaN,NaN,NaN,NaN,NaN,NaN,Rose Vela,

As we can see we have some things to work with. We will start with trying to get the names to match. This can be done for all but five members. To do this we will have to compare the names in the extraFrame to those on wikipedia and make them equal.

For John Raymond Garamendi it's enough to drop the middle name. Luckily there's just one congres member with the surname Larson, namely John B. Larson and so on until we can match all of these.

In [8]:
extra_frame['Member'] = extra_frame['Member'].replace({'John Raymond Garamendi':'John Garamendi', 'John Larson':'John B. Larson','Rick Allen': 'Rick W. Allen',
                             'Russell Mark Fulcher': 'Russ Fulcher','Chuy García':'Jesús "Chuy" García','Anthony Brown': 'Anthony G. Brown',
                             'Stephen Francis Lynch': 'Stephen F. Lynch', 'Annie Kuster':'Ann McLane Kuster', 
                             'Donald Milford Payne Jr.': 'Donald Payne Jr.', 'Peter Thomas King': 'Peter T. King',
                             'Jerrold Lewis Nadler': 'Jerry Nadler', 'José Serrano':'José E. Serrano', 'Sean P. Maloney':'Sean Patrick Maloney',
                             'Joe Morelle': 'Joseph Morelle', 'Dave Joyce': 'David Joyce', 'Jim Langevin':'James Langevin',
                             'Mark Green': 'Mark E. Green', 'Mike McCaul': 'Michael McCaul', 'Michael Clifton Burgess': 'Michael C. Burgess',
                             'Filemon Vela': 'Filemon Vela Jr.'})

C:\Users\Asus\Anaconda3\envs\MachineLearning\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

We will ignore the warning in this case. Next we'll try and fill in the blanks by trying to match the name of the spouses with congress members.

In [9]:
extra_frame.loc[436, 'Member'] = 'Ami Bera'
extra_frame.loc[437, 'Member'] = 'Danny K. Davis'
extra_frame.loc[441, 'Member'] = 'Michael Cloud'
extra_frame

C:\Users\Asus\Anaconda3\envs\MachineLearning\lib\site-packages\pandas\core\indexing.py:964: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens
435,NaN,John Garamendi,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Patricia Wilkinson|1965}},6
436,NaN,Ami Bera,NaN,NaN,NaN,NaN,NaN,NaN,Janine Bera,1
437,NaN,Danny K. Davis,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Vera Davis|1974}},2
438,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,none,
439,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,none,
440,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,none,
441,NaN,Michael Cloud,NaN,NaN,NaN,NaN,NaN,NaN,Rosel Cloud,3
442,NaN,John B. Larson,NaN,NaN,NaN,NaN,NaN,NaN,Leslie Best,3
443,NaN,Rick W. Allen,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Robin Allen|1975}},4
444,NaN,Russ Fulcher,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Kara||2018|end=div}},3
445,NaN,"Jesús ""Chuy"" García",NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Evelyn Garcia|1980}},3
446,NaN,Anthony G. Brown,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Patricia Arzuaga|1993|2009|end=div}...,3
447,NaN,Stephen F. Lynch,NaN,NaN,NaN,NaN,NaN,NaN,Margaret Shaughnessy,1
448,NaN,Ann McLane Kuster,NaN,NaN,NaN,NaN,NaN,NaN,Brad Kuster,2
449,NaN,Donald Payne Jr.,NaN,NaN,NaN,NaN,NaN,NaN,Beatrice,3
450,NaN,Peter T. King,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Rosemary Wiedl|1967}},2
451,NaN,Jerry Nadler,NaN,NaN,NaN,NaN,NaN,NaN,Joyce Miller (1976–present)<ref>{{cite web |t...,1
452,NaN,José E. Serrano,NaN,NaN,NaN,NaN,NaN,NaN,none,"5, including [[José M. Serrano]]"
453,NaN,Sean Patrick Maloney,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Randy Florke|2014}},3
454,NaN,Joseph Morelle,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Mary Beth Bauer|1984}},3
455,NaN,David Joyce,NaN,NaN,NaN,NaN,NaN,NaN,{{marriage|Kelly Joyce|1990}},
456,NaN,James Langevin,NaN,NaN,NaN,NaN,NaN,NaN,none,
457,NaN,Mark E. Green,NaN,NaN,NaN,NaN,NaN,NaN,Camie,2
458,NaN,Michael McCaul,NaN,NaN,NaN,NaN,NaN,NaN,Linda Mays,5
459,NaN,Michael C. Burgess,NaN,NaN,NaN,NaN,NaN,NaN,Laura Burgess,3
460,NaN,Filemon Vela Jr.,NaN,NaN,NaN,NaN,NaN,NaN,Rose Vela,

Now we will place the missing values in a complete frame but since we are not interested in teh name of the spouse we will simply put a yes or no instead

In [10]:
member_complete = member_frame.iloc[:435, :]
member_complete.loc[23, 'Spouse'] = 'Yes'
member_complete.loc[23, 'Childrens'] = 6
member_complete.loc[27, 'Spouse'] = 'Yes'
member_complete.loc[27, 'Childrens'] = 1
member_complete.loc[141, 'Spouse'] = 'Yes'
member_complete.loc[141, 'Childrens'] = 2
member_complete.loc[387, 'Spouse'] = 'Yes'
member_complete.loc[387, 'Childrens'] = 3
member_complete.loc[84, 'Spouse'] = 'Yes'
member_complete.loc[84, 'Childrens'] = 3
member_complete.loc[128, 'Spouse'] = 'Yes'
member_complete.loc[128, 'Childrens'] = 4
member_complete.loc[133, 'Spouse'] = 'No'
member_complete.loc[133, 'Childrens'] = 3
member_complete.loc[138, 'Spouse'] = 'Yes'
member_complete.loc[138, 'Childrens'] = 3
member_complete.loc[187, 'Spouse'] = 'Yes'
member_complete.loc[187, 'Childrens'] = 3
member_complete.loc[199, 'Spouse'] = 'Yes'
member_complete.loc[199, 'Childrens'] = 1
member_complete.loc[244, 'Spouse'] = 'Yes'
member_complete.loc[244, 'Childrens'] = 2
member_complete.loc[254, 'Spouse'] = 'Yes'
member_complete.loc[254, 'Childrens'] = 3
member_complete.loc[261, 'Spouse'] = 'Yes'
member_complete.loc[261, 'Childrens'] = 2
member_complete.loc[269, 'Spouse'] = 'Yes'
member_complete.loc[269, 'Childrens'] = 1
member_complete.loc[274, 'Spouse'] = 'No'
member_complete.loc[274, 'Childrens'] = 5
member_complete.loc[284, 'Spouse'] = 'Yes'
member_complete.loc[284, 'Childrens'] = 3
member_complete.loc[277, 'Spouse'] = 'Yes'
member_complete.loc[277, 'Childrens'] = 3
member_complete.loc[312, 'Spouse'] = 'Yes'
member_complete.loc[312, 'Childrens'] = 0
member_complete.loc[344, 'Spouse'] = 'No'
member_complete.loc[344, 'Childrens'] = 0
member_complete.loc[359, 'Spouse'] = 'Yes'
member_complete.loc[359, 'Childrens'] = 2
member_complete.loc[370, 'Spouse'] = 'Yes'
member_complete.loc[370, 'Childrens'] = 5
member_complete.loc[386, 'Spouse'] = 'Yes'
member_complete.loc[386, 'Childrens'] = 3
member_complete.loc[394, 'Spouse'] = 'Yes'
member_complete.loc[394, 'Childrens'] = 0

In [11]:
member_complete

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens
0,Alabama 1,Bradley Byrne,Republican,Alabama SenateAlabama State Board of Education,Duke University (BA)University of Alabama (JD),2014 (special),Fairhope,1955.0,{{marriage|Rebecca Dukes|1982}},4
1,Alabama 2,Martha Roby,Republican,"Montgomery, Alabama City Council",New York University (BM)Samford University (JD),2011,Montgomery,1976.0,Riley Roby,2
2,Alabama 3,Mike Rogers,Republican,"Calhoun County, Alabama CommissionerAlabama Ho...","Jacksonville State University (BA, MPA)Birming...",2003,Saks,1958.0,Beth,
3,Alabama 4,Robert Aderholt,Republican,"Haleyville, Alabama Municipal Judge",University of North AlabamaBirmingham–Southern...,1997,Haleyville,1965.0,Caroline McDonald,
4,Alabama 5,Mo Brooks,Republican,Alabama House of RepresentativesMadison County...,Duke University (BA)University of Alabama (JD),2011,Huntsville,1954.0,{{marriage|Martha Jenkins|1976}},4
...,...,...,...,...,...,...,...,...,...,...
430,Wisconsin 5,Jim Sensenbrenner,Republican,Wisconsin State SenateWisconsin State Assembly,Stanford University (BA)University of Wisconsi...,1979,Menomonee Falls,1943.0,{{marriage|Cheryl Warren|1977|2020|end=d.}},2
431,Wisconsin 6,Glenn Grothman,Republican,Wisconsin SenateWisconsin State Assembly,"University of Wisconsin–Madison (BA, JD)",2015,Campbellsport,1955.0,none,
432,Wisconsin 7,Tom Tiffany,Republican,Wisconsin SenateWisconsin State Assembly,University of Wisconsin–River Falls (BS),2020 (special),Minocqua,1957.0,Christine Sully,3
433,Wisconsin 8,Mike Gallagher,Republican,Political advisorU.S. Marine Corps,Princeton University (BA)National Intelligence...,2017,Green Bay,1984.0,{{marriage|[[Anne Horak Gallagher]]|2019}},
434,Wyoming at-large,Liz Cheney,Republican,Principal Deputy Assistant Secretary of State ...,Colorado College (BA)University of Chicago (JD),2017,Jackson,1966.0,{{marriage|[[Philip Perry]]|1993}},5

Next we'll go through and clean up the education column. Since some will have more then one education listed e.g. a B.A. and then a J.D. we will have to rank them and search and replace in the ranking order. We will start with J.D. degrees since they are directly related to law. After that we'll look for PhDs followed by master degrees and finally bachelor degrees. However The first thing we will do is to drop the four vacant rows.

In [12]:
member_complete = member_complete[member_complete.Member != 'Vacant']
member_complete = member_complete.reset_index(drop=True)
member_complete.loc[member_complete['Education'].str.contains('JD'), 'Education'] = 'JD'
member_complete.loc[member_complete['Education'].str.contains('PhD'), 'Education'] = 'PhD'
member_complete.loc[member_complete['Education'].str.contains('MD|DDS|DVM'), 'Education'] = 'Profesional Doctorate'
member_complete.loc[member_complete['Education'].str.contains('MBA|MS|MPA|MPP|MFA|MA|MPhil|MUP|MSN|MPH|LLM|MHS|THM'), 'Education'] = 'Master'
member_complete.loc[member_complete['Education'].str.contains('BA|BS'), 'Education'] = 'Bachelor'

The congress members whose level of education is not stated on wikipedia will be assumed to have reached a master degree so we will replace the name of the institution with said level

In [13]:
member_complete.loc[member_complete['Education'].str.contains('Bachelor|Master|PhD|Profesional Doctorate|JD') == False, 
                   'Education'] = 'Master'
member_complete

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens
0,Alabama 1,Bradley Byrne,Republican,Alabama SenateAlabama State Board of Education,JD,2014 (special),Fairhope,1955.0,{{marriage|Rebecca Dukes|1982}},4
1,Alabama 2,Martha Roby,Republican,"Montgomery, Alabama City Council",JD,2011,Montgomery,1976.0,Riley Roby,2
2,Alabama 3,Mike Rogers,Republican,"Calhoun County, Alabama CommissionerAlabama Ho...",JD,2003,Saks,1958.0,Beth,
3,Alabama 4,Robert Aderholt,Republican,"Haleyville, Alabama Municipal Judge",JD,1997,Haleyville,1965.0,Caroline McDonald,
4,Alabama 5,Mo Brooks,Republican,Alabama House of RepresentativesMadison County...,JD,2011,Huntsville,1954.0,{{marriage|Martha Jenkins|1976}},4
...,...,...,...,...,...,...,...,...,...,...
426,Wisconsin 5,Jim Sensenbrenner,Republican,Wisconsin State SenateWisconsin State Assembly,JD,1979,Menomonee Falls,1943.0,{{marriage|Cheryl Warren|1977|2020|end=d.}},2
427,Wisconsin 6,Glenn Grothman,Republican,Wisconsin SenateWisconsin State Assembly,JD,2015,Campbellsport,1955.0,none,
428,Wisconsin 7,Tom Tiffany,Republican,Wisconsin SenateWisconsin State Assembly,Bachelor,2020 (special),Minocqua,1957.0,Christine Sully,3
429,Wisconsin 8,Mike Gallagher,Republican,Political advisorU.S. Marine Corps,PhD,2017,Green Bay,1984.0,{{marriage|[[Anne Horak Gallagher]]|2019}},
430,Wyoming at-large,Liz Cheney,Republican,Principal Deputy Assistant Secretary of State ...,JD,2017,Jackson,1966.0,{{marriage|[[Philip Perry]]|1993}},5

Next we'll go through the "Prior experience" column. For his we will sort those who have prior public experience from those that do not. In this case public experience will be 'Board of...', City Council, House of Representatives, Judge, Mayor, Senate, State Assembly, Sheriff, State Director, Commissioner, Deputy Secretary of the Interior, '... Police Department', Ambassador, Secretary of Health and Human Services, Treasurer, City-County Council, Judge-Executive, '... Restoration Authority', County Executive, Governor, Secretary of Defense for International Security Affairs, Presidential Task Force ...,Municipal Council, General Assembly, Chair of the New Mexico Democratic Party, Town Council, Puerto Rican Community Affairs, Supreme Court, Republican Committee, Secretary of State, Commission, Texas Justice of the Peace, House of Delegates. Finally we'll change the name of the column to be Prior Public experience

In [14]:
member_complete.loc[member_complete['Prior experience'].str.contains('Board of|City Council|House of Representatives|Judge'
                  '|Mayor|Senate|Assembly|Sheriff|State Director|Commissioner|Deputy Secretary of the Interior'
                  '|Police Department|Ambassador|Secretary of Health and Human Services|Treasurer|City-County Council'
                  '|Judge-Executive|Restoration Authority|County Executive|Governor|Secretary of Defense for International Security Affairs'
                  '|Presidential Task Force|Municipal Council|New Mexico Democratic Party|Town Council'
                  '|Puerto Rican Community Affairs|Supreme Court|Republican Committee|Secretary of State|Commission'
                  '|Texas Justice of the Peace|House of Delegates'),'Prior experience'] = 'Yes'

member_complete.loc[member_complete['Prior experience'].str.contains('Yes') == False,'Prior experience'] = 'No'
member_complete.rename(columns = {'Prior experience':'Prior Public Experience'})
member_complete

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens
0,Alabama 1,Bradley Byrne,Republican,Yes,JD,2014 (special),Fairhope,1955.0,{{marriage|Rebecca Dukes|1982}},4
1,Alabama 2,Martha Roby,Republican,Yes,JD,2011,Montgomery,1976.0,Riley Roby,2
2,Alabama 3,Mike Rogers,Republican,Yes,JD,2003,Saks,1958.0,Beth,
3,Alabama 4,Robert Aderholt,Republican,Yes,JD,1997,Haleyville,1965.0,Caroline McDonald,
4,Alabama 5,Mo Brooks,Republican,Yes,JD,2011,Huntsville,1954.0,{{marriage|Martha Jenkins|1976}},4
...,...,...,...,...,...,...,...,...,...,...
426,Wisconsin 5,Jim Sensenbrenner,Republican,Yes,JD,1979,Menomonee Falls,1943.0,{{marriage|Cheryl Warren|1977|2020|end=d.}},2
427,Wisconsin 6,Glenn Grothman,Republican,Yes,JD,2015,Campbellsport,1955.0,none,
428,Wisconsin 7,Tom Tiffany,Republican,Yes,Bachelor,2020 (special),Minocqua,1957.0,Christine Sully,3
429,Wisconsin 8,Mike Gallagher,Republican,No,PhD,2017,Green Bay,1984.0,{{marriage|[[Anne Horak Gallagher]]|2019}},
430,Wyoming at-large,Liz Cheney,Republican,Yes,JD,2017,Jackson,1966.0,{{marriage|[[Philip Perry]]|1993}},5

Moving on to Assumed office the only cleaning will be to remove the '(Special)' string

In [15]:
member_complete['Assumed office'] = member_complete['Assumed office'].apply(lambda x: x.split('(special)')[0])

Next we'll create two derived values, age when they assumed office and how long they have been in office

In [16]:
member_complete = member_complete.astype({'Assumed office': int, 'Born':int})
years_in_office = []
age_when_elected = []
for i in range(431):
    years = 2020-member_complete.loc[i,'Assumed office']
    age = member_complete.loc[i,'Assumed office']-member_complete.loc[i,'Born']
    years_in_office.append(years)
    age_when_elected.append(age)
member_complete['Years in office'] = years_in_office
member_complete['Age when elected'] = age_when_elected
member_complete

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens,Years in office,Age when elected
0,Alabama 1,Bradley Byrne,Republican,Yes,JD,2014,Fairhope,1955,{{marriage|Rebecca Dukes|1982}},4,6,59
1,Alabama 2,Martha Roby,Republican,Yes,JD,2011,Montgomery,1976,Riley Roby,2,9,35
2,Alabama 3,Mike Rogers,Republican,Yes,JD,2003,Saks,1958,Beth,,17,45
3,Alabama 4,Robert Aderholt,Republican,Yes,JD,1997,Haleyville,1965,Caroline McDonald,,23,32
4,Alabama 5,Mo Brooks,Republican,Yes,JD,2011,Huntsville,1954,{{marriage|Martha Jenkins|1976}},4,9,57
...,...,...,...,...,...,...,...,...,...,...,...,...
426,Wisconsin 5,Jim Sensenbrenner,Republican,Yes,JD,1979,Menomonee Falls,1943,{{marriage|Cheryl Warren|1977|2020|end=d.}},2,41,36
427,Wisconsin 6,Glenn Grothman,Republican,Yes,JD,2015,Campbellsport,1955,none,,5,60
428,Wisconsin 7,Tom Tiffany,Republican,Yes,Bachelor,2020,Minocqua,1957,Christine Sully,3,0,63
429,Wisconsin 8,Mike Gallagher,Republican,No,PhD,2017,Green Bay,1984,{{marriage|[[Anne Horak Gallagher]]|2019}},,3,33
430,Wyoming at-large,Liz Cheney,Republican,Yes,JD,2017,Jackson,1966,{{marriage|[[Philip Perry]]|1993}},5,3,51

Now we'll clean the last two messy columns. First up is children this row isn't that messy and we might as well go through each line manually adding a line to replace non numerical strings with apurely numeric string, after that we'll replace the empty values and NaNwith 0s

In [17]:
member_complete.loc[26, 'Childrens'] = '1'
member_complete.loc[32, 'Childrens'] = '5'
member_complete.loc[57, 'Childrens'] = '4'
member_complete.loc[110, 'Childrens'] = '1'
member_complete.loc[117, 'Childrens'] = '1'
member_complete.loc[138, 'Childrens'] = '2'
member_complete.loc[139, 'Childrens'] = '2'
member_complete.loc[154, 'Childrens'] = '4'
member_complete.loc[152, 'Childrens'] = '0'
member_complete.loc[153, 'Childrens'] = '4'
member_complete.loc[168, 'Childrens'] = '1'
member_complete.loc[168, 'Childrens'] = '1'
member_complete.loc[177, 'Childrens'] = '3'
member_complete.loc[178, 'Childrens'] = '3'
member_complete.loc[193, 'Childrens'] = '1'
member_complete.loc[194, 'Childrens'] = '1'
member_complete.loc[203, 'Childrens'] = '2'
member_complete.loc[211, 'Childrens'] = '4'
member_complete.loc[214, 'Childrens'] = '3'
member_complete.loc[215, 'Childrens'] = '3'
member_complete.loc[225, 'Childrens'] = '1'
member_complete.loc[226, 'Childrens'] = '1'
member_complete.loc[284, 'Childrens'] = '3'
member_complete.loc[314, 'Childrens'] = '1'
member_complete.loc[317, 'Childrens'] = '1'
member_complete.loc[338, 'Childrens'] = '0'
member_complete.loc[342, 'Childrens'] = '4'
member_complete.loc[346, 'Childrens'] = '3'
member_complete.loc[363, 'Childrens'] = '0'
member_complete.loc[373, 'Childrens'] = '2'
member_complete.loc[380, 'Childrens'] = '4'
member_complete.loc[381, 'Childrens'] = '2'
member_complete.loc[392, 'Childrens'] = '5'
member_complete.loc[424, 'Childrens'] = '2'
member_complete.loc[2, 'Childrens'] = '0'
member_complete = member_complete.replace(r'^\s*$', np.nan, regex=True).fillna('0') #Replace empty with first NaN and then with '0'

In [19]:
pd.set_option('display.max_rows', 450)
member_complete['Childrens']

0                                           4
1                                           2
2                                           0
3                                           0
4                                           4
5                                           3
6                                           0
7                                           2
8                                           0
9                                           0
10                                          3
11                                          3
12                                          6
13                                          0
14                                          1
15                                          0
16                                          2
17                                          2
18                                          2
19                                          3
20                                          4
21                                          4
22                                          2
23                                          6
24                                          2
25                                          2
26                                          1
27                                          1
28                                          0
29                                          3
30                                          0
31                                          2
32                                          5
33                                          2
34                                          2
35                                          2
36                                          0
37                                          2
38                                          2
39                                          0
40                                          2
41                                          4
42                                          3
43                                          2
44                                          2
45                                          2
46                                          2
47                                          0
48                                          2
49                                          4
50                                          0
51                                          2
52                                          5
53                                          2
54                                          0
55                                          3
56                                          2
57                                          4
58                                          3
59                                          2
60                                          2
61                                          0
62                                          0
63                                          2
64                                          0
65                                          3
66                                          4
67                                          2
68                                          4
69                                          2
70                                          2
71                                          2
72                                          0
73                                          2
74                                          1
75                                          2
76                                          2
77                                          5
78                                          2
79                                          3
80                                          3
81                                          2
82                                          3
83                                          2
84                                          4
85                                          2
86                                          0
87                                          3
88                                          3
89                                          2
90                                          2
91                                          0
92                                          2
93                                          2
94                                          0
95                                          3
96                                          6
97                                          4
98                                          0
99                                          0
100                                         4
101                                         2
102                                         1
103                                         4
104                                         3
105                                         0
106                                         0
107                                         3
108                                         3
109                                         3
110                                         1
111                                         2
112                                         0
113                                         3
114                                         1
115                                         4
116                                         2
117                                         1
118                                         0
119                                         0
120                                         3
121                                         2
122                                         3
123                                         0
124                                         4
125                                         3
126                                         2
127                                         0
128                                         0
129                                         3
130                                         0
131                                         2
132                                         0
133                                         0
134                                         3
135                                         2
136                                         0
137                                         2
138                       2 (with Schakowsky)
139                                         2
140                                         2
141                                         3
142                                         3
143                                         0
144                                         0
145                                         0
146                                         3
147                                         3
148                                         0
149                                         0
150                                         3
151                                         0
152                                         0
153           4, Nicole, Lauren, Emily & John
154                                         4
155                                         4
156                                         1
157                                         0
158                                         4
159                                         2
160                                         3
161                                         4
162                                         0
163                                         0
164                                         3
165                                         3
166                                         0
167                                     1 son
168                                         1
169                                         3
170                                         2
171                                         2
172                                         1
173                                         4
174                                         4
175                                         3
176                                         3
177    3, including [[Hannah Pingree|Hannah]]
178                                         3
179                                         0
180                                         2
181                                         3
182                                         0
183                                         3
184                                         4
185                                         5
186                                         3
187                                         4
188                                         2
189                                         5
190                                         2
191                                         3
192                                         1
193                            1 stepdaughter
194                                         1
195                                         1
196                                         0
197                                         5
198                                         3
199                                         6
200                                         3
201                                         2
202                                         3
203                                         2
204                                         0
205                                         0
206                                         0
207                                         0
208                                         2
209                                         2
210                                         0
211                               4 (adopted)
212                                         2
213                                         0
214               3; including [[Isra Hirsi]]
215                                         3
216                                         0
217                                         4
218                                         3
219                                         1
220                                         0
221                                         3
222                                         0
223                                         3
224                                         3
225                                1 daughter
226                                         1
227                                         3
228                                         2
229                                         0
230                                         4
231                                         0
232                                         4
233                                         1
234                                         0
235                                         2
236                                         2
237                                         3
238                                         0
239                                         0
240                                         2
241                                         0
242                                         0
243                                         4
244                                         2
245                                         3
246                                         1
247                                         1
248                                         3
249                                         0
250                                         3
251                                         3
252                                         1
253                                         0
254                                         0
255                                         2
256                                         0
257                                         2
258                                         0
259                                         3
260                                         2
261                                         0
262                                         2
263                                         0
264                                         0
265                                         1
266                                         2
267                                         2
268                                         0
269                                         0
270                                         5
271                                         0
272                                         0
273                                         3
274                                         0
275                                         0
276                                         2
277                                         2
278                                         0
279                                         0
280                                         3
281                                         0
282                                         3
283                                         4
284                                         3
285                                         2
286                                         0
287                                         0
288                                         0
289                                         0
290                                         1
291                                         0
292                                         2
293                                         3
294                                         2
295                                         2
296                                         0
297                                         0
298                                         4
299                                         0
300                                         4
301                                         3
302                                         0
303                                         0
304                                         0
305                                         0
306                                         0
307                                         1
308                                         0
309                                         0
310                                         1
311                                         3
312                                         5
313                                         3
314                                         1
315                                         0
316                                         2
317                                         1
318                                         0
319                                         0
320                                         5
321                                         0
322                                         1
323                                         0
324                                         3
325                                         3
326                                         2
327                                         2
328                                         2
329                                         3
330                                         2
331                                         3
332                                         2
333                                         0
334                                         0
335                                         3
336                                         4
337                                         0
338                                         0
339                                         0
340                                         0
341                                         1
342                                         4
343                                         3
344                                         0
345                                         4
346                                         3
347                                         3
348                                         3
349                                         3
350                                         0
351                                         3
352                                         3
353                                         3
354                                         0
355                                         2
356                                         2
357                                         0
358                                         3
359                                         0
360                                         0
361                                         1
362                                         0
363                                         0
364                                         0
365                                         0
366                                         5
367                                         0
368                                         3
369                                         0
370                                         3
371                                         0
372                                         2
373                                         2
374                                         2
375                                         0
376                                         2
377                                         2
378                                         2
379                                         0
380                                         4
381                                         2
382                                         3
383                                         3
384                                         2
385                                         0
386                                         0
387                                         4
388                                         1
389                                         1
390                                         0
391                                         0
392                                         5
393                                         5
394                                         6
395                                         6
396                                         4
397                                         0
398                                         2
399                                         3
400                                         0
401                                         3
402                                         3
403                                         2
404                                         3
405                                         4
406                                         3
407                                         2
408                                         0
409                                         2
410                                         2
411                                         3
412                                         2
413                                         3
414                                         0
415                                         1
416                                         1
417                                         2
418                                         2
419                                         4
420                                         3
421                                         0
422                                         0
423                                         0
424                                         2
425                                         3
426                                         2
427                                         0
428                                         3
429                                         0
430                                         5
Name: Childrens, dtype: object

Now we have one last column to clean, Spouses. This is probably the most messy of the columns due to different formats and the fact that we can't simply look up a single keyword to decide the marital status, since someone can divorce and hthen remary. Therefore we will do this in four steps. First we'll look for people who have had a divorce or whose spouses have died. Then we'll look for the keyword marriage after which we'll look for '{' signs. Finally we should have a frame with either Yes, No and just names. The result of this should be a column with either Yes or No for each member.

In [17]:
member_complete[member_complete["Spouse"].str.contains("divorce|die|div")]

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens,Years in office,Age when elected
7,Alaska at-large,Don Young,Republican,Yes,Bachelor,1973,Fort Yukon,1933,{{marriage|Lu Fredson|1963|2009|reason=died}}<...,2,47,40
14,Arizona 7,Ruben Gallego,Democratic,Yes,Bachelor,2015,Phoenix,1979,{{marriage|[[Kate Gallego|Kate Widland]]|2010|...,1,5,36
31,California 11,Mark DeSaulnier,Democratic,Yes,Bachelor,2015,Concord,1952,Melinda Clune (divorced)<ref>https://www.eastb...,2,5,63
34,California 14,Jackie Speier,Democratic,Yes,JD,2008,Hillsborough,1950,{{marriage|Steve Sierra|1987|1994|end=died}}<b...,2,12,58
38,California 18,Anna Eshoo,Democratic,Yes,Master,1993,Atherton,1942,George Eshoo (divorced),2,27,51
52,California 32,Grace Napolitano,Democratic,Yes,Master,1999,Norwalk,1936,"{{marriage|Frank Napolitano|1980s|December 15,...",5,21,63
57,California 37,Karen Bass,Democratic,Yes,Bachelor,2011,Baldwin Hills,1953,{{Marriage|Jesus Lechuga|1980|1986|end=divorced}},4,9,58
63,California 43,Maxine Waters,Democratic,Yes,Bachelor,1991,Inglewood,1938,{{marriage|Edward Waters|1956|1972|end=div}}<b...,2,29,53
65,California 45,Katie Porter,Democratic,No,JD,2019,Irvine,1974,Matthew Hoffman <br>(m. 2003; div. 2013)<ref n...,3,1,45
76,Colorado 4,Ken Buck,Republican,No,JD,2015,Greeley,1959,{{marriage|Dayna Roane|1984|1994|end=div}}<ref...,2,5,56
79,Colorado 7,Ed Perlmutter,Democratic,Yes,JD,2007,Lakewood,1953,{{marriage|Deana Perlmutter|1981|2008|end=div}...,3,13,54
85,Delaware at-large,Lisa Blunt Rochester,Democratic,No,Master,2017,Wilmington,1962,{{marriage|[[Alex Bradley (basketball)|Alex Br...,2,3,55
98,Florida 13,Charlie Crist,Democratic,Yes,JD,2017,St. Petersburg,1956,{{marriage|Amanda Morrow|1979|1980|end=div}}<b...,0,3,61
109,Florida 24,Frederica Wilson,Democratic,Yes,Master,2011,Miami Gardens,1942,{{marriage|Paul Wilson|1963|1988|end=died}},3,9,69
127,Hawaii 2,Tulsi Gabbard,Democratic,Yes,Bachelor,2013,Honolulu,1981,{{marriage|Eduardo Tamayo|2002|2006|end=div}}<...,0,7,32
130,Illinois 1,Bobby Rush,Democratic,Yes,Master,1993,Englewood,1946,{{marriage|Sandra Milan|1965|1973|end=div}}<br...,0,27,47
138,Illinois 9,Jan Schakowsky,Democratic,Yes,Bachelor,1999,Evanston,1944,{{marriage|Harvey Schakowsky|1965|1980|end=div...,2 (with Schakowsky),21,55
169,Kentucky 5,Hal Rogers,Republican,No,Bachelor,1981,Mount Vernon,1937,{{marriage|Shirley McDowell|1958|1995|end=died...,3,39,44
173,Louisiana 3,Clay Higgins,Republican,No,Master,2017,Port Barre,1961,{{marriage|Eloisa Rovati|1983|1991|end=divorce...,4,3,56
177,Maine 1,Chellie Pingree,Democratic,Yes,Bachelor,2009,North Haven,1955,Charlie Pingree (divorced)<br />{{marriage|[[D...,"3, including [[Hannah Pingree|Hannah]]",11,54
207,Michigan 12,Debbie Dingell,Democratic,No,Master,2015,Dearborn,1953,{{marriage|[[John Dingell]]|1981|2019|reason=d...,0,5,62
208,Michigan 13,Rashida Tlaib,Democratic,Yes,JD,2019,Detroit,1976,{{marriage|Fayez Tlaib|1998|2015|end=div}},2,1,43
221,Mississippi 4,Steven Palazzo,Republican,Yes,Master,2011,Gulfport,1970,{{marriage|Lisa Belvin|1996|2016|end=div}},3,9,41
222,Missouri 1,Lacy Clay,Democratic,Yes,Bachelor,2001,St. Louis,1956,{{marriage|Ivie Lewellen|1992|2011|end=div}},0,19,45
227,Missouri 6,Sam Graves,Republican,Yes,Bachelor,2001,Tarkio,1963,{{marriage|Lesley Hickok|1986|2012|end=div}},3,19,38
266,New York 12,Carolyn Maloney,Democratic,Yes,Bachelor,1993,"East Harlem, Manhattan",1946,{{marriage|[[Clifton Maloney]]|1976|2009|end=d...,2,27,47
282,North Carolina 1,G. K. Butterfield,Democratic,Yes,JD,2004,Wilson,1947,{{marriage|[[Jean Farmer-Butterfield|Jean Farm...,3,16,57
306,Ohio 12,Troy Balderson,Republican,Yes,Master,2018,Zanesville,1962,{{marriage|Angela Mattingly|1985|2014|reason=d...,0,2,56
320,Oregon 5,Kurt Schrader,Democratic,Yes,Profesional Doctorate,2009,Canby,1951,{{marriage|[[Martha Schrader|Martha Northam]]|...,5,11,58
346,South Carolina 6,Jim Clyburn,Democratic,No,Bachelor,1993,Columbia,1940,{{marriage|Emily England|1961|2019|end = died}},3,27,53
349,Tennessee 1,Phil Roe,Republican,Yes,Profesional Doctorate,2009,Johnson City,1945,{{marriage|Pam Alford|1995|2015|reason=died}}<...,3,11,64
350,Tennessee 2,Tim Burchett,Republican,Yes,Bachelor,2019,Knoxville,1964,{{marriage|Allison Beaver|2008|2012|end=div}}<...,0,1,55
352,Tennessee 4,Scott DesJarlais,Republican,No,Profesional Doctorate,2011,South Pittsburg,1964,Susan DesJarlais ({{abbr|div|divorced}}. 1998)...,3,9,47
397,Vermont at-large,Peter Welch,Democratic,Yes,JD,2007,Norwich,1947,{{marriage|Joan Smith|1986|2004|end=died}}{{ma...,0,13,60
412,Washington 4,Dan Newhouse,Republican,Yes,Bachelor,2015,Sunnyside,1955,{{marriage|Carol Newhouse|1982|2017|reason=die...,2,5,60

In [18]:
member_complete.loc[7, 'Spouse'] = 'Yes'
member_complete.loc[14, 'Spouse'] = 'No'
member_complete.loc[31, 'Spouse'] = 'No'
member_complete.loc[34, 'Spouse'] = 'Yes'
member_complete.loc[38, 'Spouse'] = 'No'
member_complete.loc[52, 'Spouse'] = 'No'
member_complete.loc[63, 'Spouse'] = 'Yes'
member_complete.loc[63, 'Spouse'] = 'No'
member_complete.loc[76, 'Spouse'] = 'No'
member_complete.loc[79, 'Spouse'] = 'Yes'
member_complete.loc[85, 'Spouse'] = 'No'
member_complete.loc[98, 'Spouse'] = 'No'
member_complete.loc[109, 'Spouse'] = 'No'
member_complete.loc[117, 'Spouse'] = 'No'
member_complete.loc[128, 'Spouse'] = 'Yes'
member_complete.loc[131, 'Spouse'] = 'Yes'
member_complete.loc[139, 'Spouse'] = 'Yes'
member_complete.loc[170, 'Spouse'] = 'Yes'
member_complete.loc[174, 'Spouse'] = 'Yes'
member_complete.loc[178, 'Spouse'] = 'No'
member_complete.loc[184, 'Spouse'] = 'No'
member_complete.loc[208, 'Spouse'] = 'No'
member_complete.loc[209, 'Spouse'] = 'No'
member_complete.loc[222, 'Spouse'] = 'No'
member_complete.loc[223, 'Spouse'] = 'No'
member_complete.loc[228, 'Spouse'] = 'No'
member_complete.loc[267, 'Spouse'] = 'No'
member_complete.loc[282, 'Spouse'] = 'No'
member_complete.loc[306, 'Spouse'] = 'No'
member_complete.loc[320, 'Spouse'] = 'Yes'
member_complete.loc[346, 'Spouse'] = 'No'
member_complete.loc[349, 'Spouse'] = 'Yes'
member_complete.loc[350, 'Spouse'] = 'Yes'
member_complete.loc[352, 'Spouse'] = 'Yes'
member_complete.loc[397, 'Spouse'] = 'Yes'
member_complete.loc[412, 'Spouse'] = 'Yes'

In [19]:
member_complete[member_complete["Spouse"].str.contains("marriage")]

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens,Years in office,Age when elected
0,Alabama 1,Bradley Byrne,Republican,Yes,JD,2014,Fairhope,1955,{{marriage|Rebecca Dukes|1982}},4,6,59
4,Alabama 5,Mo Brooks,Republican,Yes,JD,2011,Huntsville,1954,{{marriage|Martha Jenkins|1976}},4,9,57
13,Arizona 6,David Schweikert,Republican,Yes,Master,2011,Scottsdale,1962,{{marriage|Joyce Schweikert|2006}},0,9,49
16,Arizona 9,Greg Stanton,Democratic,Yes,JD,2019,Phoenix,1970,{{marriage|Nicole|2006|}},2,1,49
18,Arkansas 2,French Hill,Republican,No,Bachelor,2015,Little Rock,1956,{{marriage|Martha McKenzie|1988}},2,5,59
...,...,...,...,...,...,...,...,...,...,...,...,...
423,Wisconsin 2,Mark Pocan,Democratic,Yes,Bachelor,2013,Madison,1964,{{marriage|Philip Frank|2006}},0,7,49
424,Wisconsin 3,Ron Kind,Democratic,No,JD,1997,La Crosse,1963,{{marriage|Tawni Kind|1994}},2,23,34
426,Wisconsin 5,Jim Sensenbrenner,Republican,Yes,JD,1979,Menomonee Falls,1943,{{marriage|Cheryl Warren|1977|2020|end=d.}},2,41,36
429,Wisconsin 8,Mike Gallagher,Republican,No,PhD,2017,Green Bay,1984,{{marriage|[[Anne Horak Gallagher]]|2019}},0,3,33
430,Wyoming at-large,Liz Cheney,Republican,Yes,JD,2017,Jackson,1966,{{marriage|[[Philip Perry]]|1993}},5,3,51

As we can see the list of rows which has a string containing the word marriage in the spouse column is large, hence we don't want to manually set each of theses to yes or no, isntead we'll look for any which we're unsure about and set them to yes or no.

In [20]:
member_complete.loc[26, 'Spouse'] = 'Yes'
member_complete.loc[141, 'Spouse'] = 'Yes'
member_complete.loc[171, 'Spouse'] = 'No'
member_complete.loc[187, 'Spouse'] = 'Yes'
member_complete.loc[337, 'Spouse'] = 'Yes'
member_complete.loc[7, 'Spouse'] = 'Yes'

Now we'll replace any 'none' or '0' with 'No' and the rest with 'Yes'.

In [21]:
member_complete.loc[member_complete['Spouse'].str.contains('none|0'), 'Spouse'] = 'No'
member_complete.loc[member_complete['Spouse'].str.contains('Yes|No') == False, 'Spouse'] = 'Yes'

Before saving the data we'll have to remove unicode whitespaces, \xa0

In [22]:
member_complete['District'] = member_complete['District'].str.split().str.join(' ')

In [23]:
member_complete.to_csv(current_folder + '/data/resultingData/clean_member.csv') #Print the results to a csv file.
member_complete

,District,Member,Party,Prior experience,Education,Assumed office,Residence,Born,Spouse,Childrens,Years in office,Age when elected
0,Alabama 1,Bradley Byrne,Republican,Yes,JD,2014,Fairhope,1955,Yes,4,6,59
1,Alabama 2,Martha Roby,Republican,Yes,JD,2011,Montgomery,1976,Yes,2,9,35
2,Alabama 3,Mike Rogers,Republican,Yes,JD,2003,Saks,1958,Yes,0,17,45
3,Alabama 4,Robert Aderholt,Republican,Yes,JD,1997,Haleyville,1965,Yes,0,23,32
4,Alabama 5,Mo Brooks,Republican,Yes,JD,2011,Huntsville,1954,Yes,4,9,57
...,...,...,...,...,...,...,...,...,...,...,...,...
426,Wisconsin 5,Jim Sensenbrenner,Republican,Yes,JD,1979,Menomonee Falls,1943,No,2,41,36
427,Wisconsin 6,Glenn Grothman,Republican,Yes,JD,2015,Campbellsport,1955,No,0,5,60
428,Wisconsin 7,Tom Tiffany,Republican,Yes,Bachelor,2020,Minocqua,1957,Yes,3,0,63
429,Wisconsin 8,Mike Gallagher,Republican,No,PhD,2017,Green Bay,1984,No,0,3,33
430,Wyoming at-large,Liz Cheney,Republican,Yes,JD,2017,Jackson,1966,Yes,5,3,51

Now we'll look at the other data set with data about each district.

In [24]:
district_frame = pd.read_csv(district_data)
district_frame

,Unnamed: 0,District,People: Sex and Age Total population,People: Sex and Age Male,People: Sex and Age Female,People: Sex and Age Median age (years),People: Race Total population,People: Race White,People: Race Black or African American,People: Race American Indian and Alaska Native,...,Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Total households,"Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Less than $10,000","Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) $200,000 or more",Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Median household income (dollars),Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Mean household income (dollars),Socioeconomic: Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level All people,Education: Educational Attainment Percent high school graduate or higher,Most Employees,Largest Payroll,Most Establishments
0,0,Alabama District 01,715346,344543,370803,40.3,715346,479949,196891,6992,...,272626,23918,9860,46445,65685,17.0,87.0,Retail trade,Manufacturing,Retail trade
1,1,Alabama District 02,678122,326346,351776,38.8,678122,426674,217977,2838,...,254315,25282,7590,48290,64712,18.0,85.7,Health care and social assistance,Health care and social assistance,Retail trade
2,2,Alabama District 03,708409,345941,362468,39.2,708409,490987,183949,1300,...,264595,29780,8563,45832,64442,18.1,85.5,Manufacturing,Manufacturing,Retail trade
3,3,Alabama District 04,686297,336349,349948,40.5,686297,591084,51171,4391,...,256963,21203,7590,45387,63553,17.6,82.9,Manufacturing,Manufacturing,Retail trade
4,4,Alabama District 05,725634,359028,366606,39.5,725634,539903,130913,3123,...,290207,18096,14954,57174,77865,12.9,88.8,"Professional, scientific, and technical services","Professional, scientific, and technical services",Retail trade
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,4,Wisconsin District 05,731341,358554,372787,41.3,731341,659846,21218,2076,...,297562,11468,23293,70271,95385,6.8,94.8,Manufacturing,Manufacturing,Health care and social assistance
433,5,Wisconsin District 06,714886,361506,353380,41.9,714886,660186,15080,3448,...,294811,12834,12744,59868,78267,9.0,92.4,Manufacturing,Manufacturing,Retail trade
434,6,Wisconsin District 07,710420,357492,352928,44.7,710420,660634,5661,13419,...,305764,14231,10296,57200,73533,9.6,92.0,Manufacturing,Manufacturing,Retail trade
435,7,Wisconsin District 08,735997,367530,368467,40.7,735997,662077,12052,19016,...,301309,11134,12544,61423,78602,8.3,92.8,Manufacturing,Manufacturing,Retail trade
436,0,Wyoming District (At Large),577737,292619,285118,38.5,577737,528453,3667,16185,...,230252,12176,11244,61584,81935,11.1,93.3,Health care and social assistance,Health care and social assistance,Construction

We start with dropping the 'Unnamed: 0' column

In [25]:
district_frame = district_frame.drop(columns = ['Unnamed: 0'])

First we have to change the values in the column 'District' to math those found in the 'congress_member' data, e.g. 'Alabama District 01' should be Alabama 1. This will be done in two steps first we remove 'District' by replacing it with '' and then we change 01->1, 02->2 etc. upto 09->9. However first we'll extract a list of states to add to the dataset.

In [26]:
states = district_frame['District'].apply(lambda x: x.split('District')[0]) #Remove the word 'Estimate' from first column

district_frame['District'] = district_frame['District'].replace(' District', '', regex = True)
district_frame['District'] = district_frame['District'].replace('\(At Large\)', 'at-large', regex = True)
district_frame['District'] = district_frame['District'].replace('01', '1', regex = True)
district_frame['District'] = district_frame['District'].replace('02', '2', regex = True)
district_frame['District'] = district_frame['District'].replace('03', '3', regex = True)
district_frame['District'] = district_frame['District'].replace('04', '4', regex = True)
district_frame['District'] = district_frame['District'].replace('05', '5', regex = True)
district_frame['District'] = district_frame['District'].replace('06', '6', regex = True)
district_frame['District'] = district_frame['District'].replace('07', '7', regex = True)
district_frame['District'] = district_frame['District'].replace('08', '8', regex = True)
district_frame['District'] = district_frame['District'].replace('09', '9', regex = True)
district_frame['District'] = district_frame['District'].str.strip() #Remove any trailing whitespace

district_frame

,District,People: Sex and Age Total population,People: Sex and Age Male,People: Sex and Age Female,People: Sex and Age Median age (years),People: Race Total population,People: Race White,People: Race Black or African American,People: Race American Indian and Alaska Native,People: Race Asian,...,Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Total households,"Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Less than $10,000","Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) $200,000 or more",Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Median household income (dollars),Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Mean household income (dollars),Socioeconomic: Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level All people,Education: Educational Attainment Percent high school graduate or higher,Most Employees,Largest Payroll,Most Establishments
0,Alabama 1,715346,344543,370803,40.3,715346,479949,196891,6992,10627,...,272626,23918,9860,46445,65685,17.0,87.0,Retail trade,Manufacturing,Retail trade
1,Alabama 2,678122,326346,351776,38.8,678122,426674,217977,2838,7442,...,254315,25282,7590,48290,64712,18.0,85.7,Health care and social assistance,Health care and social assistance,Retail trade
2,Alabama 3,708409,345941,362468,39.2,708409,490987,183949,1300,13049,...,264595,29780,8563,45832,64442,18.1,85.5,Manufacturing,Manufacturing,Retail trade
3,Alabama 4,686297,336349,349948,40.5,686297,591084,51171,4391,3072,...,256963,21203,7590,45387,63553,17.6,82.9,Manufacturing,Manufacturing,Retail trade
4,Alabama 5,725634,359028,366606,39.5,725634,539903,130913,3123,12215,...,290207,18096,14954,57174,77865,12.9,88.8,"Professional, scientific, and technical services","Professional, scientific, and technical services",Retail trade
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Wisconsin 5,731341,358554,372787,41.3,731341,659846,21218,2076,24913,...,297562,11468,23293,70271,95385,6.8,94.8,Manufacturing,Manufacturing,Health care and social assistance
433,Wisconsin 6,714886,361506,353380,41.9,714886,660186,15080,3448,17053,...,294811,12834,12744,59868,78267,9.0,92.4,Manufacturing,Manufacturing,Retail trade
434,Wisconsin 7,710420,357492,352928,44.7,710420,660634,5661,13419,12134,...,305764,14231,10296,57200,73533,9.6,92.0,Manufacturing,Manufacturing,Retail trade
435,Wisconsin 8,735997,367530,368467,40.7,735997,662077,12052,19016,15780,...,301309,11134,12544,61423,78602,8.3,92.8,Manufacturing,Manufacturing,Retail trade
436,Wyoming at-large,577737,292619,285118,38.5,577737,528453,3667,16185,5807,...,230252,12176,11244,61584,81935,11.1,93.3,Health care and social assistance,Health care and social assistance,Construction

Now we can start with the majority of the cleaning of this data set which will mainly be about replacing values with other. If we start wit hthe population statisticts we want the total number of males and females to be given in percent rather than absolute numbers.

In [27]:
district_frame['People: Sex and Age Male'] = district_frame['People: Sex and Age Male'] / district_frame['People: Sex and Age Total population']
district_frame['People: Sex and Age Female'] = district_frame['People: Sex and Age Female']/district_frame['People: Sex and Age Total population']

Next we'll do the same for the ethnicities

In [28]:
district_frame['People: Race White'] = district_frame['People: Race White'] / district_frame['People: Race Total population']
district_frame['People: Race Black or African American'] = district_frame['People: Race Black or African American'] / district_frame['People: Race Total population']
district_frame['People: Race American Indian and Alaska Native'] = district_frame['People: Race American Indian and Alaska Native'] / district_frame['People: Race Total population']
district_frame['People: Race Asian'] = district_frame['People: Race Asian'] / district_frame['People: Race Total population']
district_frame['People: Race Native Hawaiian and Other Pacific Islander'] = district_frame['People: Race Native Hawaiian and Other Pacific Islander'] / district_frame['People: Race Total population']
district_frame['People: Race Some other race'] = district_frame['People: Race Some other race'] / district_frame['People: Race Total population']
district_frame['People: Hispanic or Latino and Race Hispanic or Latino (of any race)'] = district_frame['People: Hispanic or Latino and Race Hispanic or Latino (of any race)'] / district_frame['People: Race Total population']

Now we'll calculate the fraction of natives and foreign born

In [29]:
district_frame['People: Place of Birth Native'] = district_frame['People: Place of Birth Native'] / district_frame['People: Race Total population']
district_frame['People: Place of Birth Foreign born'] = district_frame['People: Place of Birth Foreign born'] / district_frame['People: Race Total population']

Next we have the different proportions of workers in each district

In [30]:
district_frame['Total Occupation'] = district_frame['Workers: Occupation Management, business, science, and arts occupations'] + district_frame['Workers: Occupation Service occupations'] + district_frame['Workers: Occupation Sales and office occupations'] + district_frame['Workers: Occupation Natural resources, construction, and maintenance occupations'] + district_frame['Workers: Occupation Production, transportation, and material moving occupations']
district_frame['Workers: Occupation Management, business, science, and arts occupations'] = district_frame['Workers: Occupation Management, business, science, and arts occupations'] / district_frame['Total Occupation']
district_frame['Workers: Occupation Sales and office occupations'] = district_frame['Workers: Occupation Sales and office occupations'] / district_frame['Total Occupation']
district_frame['Workers: Occupation Service occupations'] = district_frame['Workers: Occupation Service occupations'] / district_frame['Total Occupation']
district_frame['Workers: Occupation Natural resources, construction, and maintenance occupations'] = district_frame['Workers: Occupation Natural resources, construction, and maintenance occupations'] / district_frame['Total Occupation']
district_frame['Workers: Occupation Production, transportation, and material moving occupations'] = district_frame['Workers: Occupation Production, transportation, and material moving occupations'] / district_frame['Total Occupation']

Next we have the fraction belonging to the lowest respectively highest income bracket

In [31]:
district_frame['Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) $200,000 or more'] = district_frame['Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) $200,000 or more'] / district_frame['Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Total households']
district_frame['Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Less than $10,000'] = district_frame['Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Less than $10,000'] / district_frame['Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Total households']

The last two columns to change values in are the percentage of population living below poverty level and the percentage of high school graduate or higher where we'll divide the values by 100 to get back fraction.

In [32]:
district_frame['Socioeconomic: Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level All people'] = district_frame['Socioeconomic: Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level All people'] / 100
district_frame['Education: Educational Attainment Percent high school graduate or higher'] = district_frame['Education: Educational Attainment Percent high school graduate or higher'] / 100

While the current column names are specific in what they refere to they are a bit unwieldy therefore we will now shorten them down.

In [33]:
district_frame = district_frame.rename(columns = {'People: Sex and Age Total population':'Total Population',
                                             'People: Sex and Age Male': 'Percentage Male', 'People: Sex and Age Female': 'Percentage Female',
                                             'People: Sex and Age Median age (years)':'Median age(years)',
                                             'People: Race Total population': 'Race Total population',
                                             'People: Race White':'Fraction White',
                                             'People: Race Black or African American':'Fraction Black or A.American',
                                             'People: Race American Indian and Alaska Native':'Fraction Indian or Alaskan Native',
                                             'People: Race Asian':'Fraction Asian',
                                             'People: Race Native Hawaiian and Other Pacific Islande': 'Fraction Hawaiian and Pacific Islande',
                                             'People: Race Some other race': 'Fraction Other',
                                             'People: Hispanic or Latino and Race Hispanic or Latino (of any race)':'Fraction Hispanic or Latino',
                                             'People: Place of Birth Total population':'Birth Total Population',
                                             'People: Place of Birth Native':'Fraction Native',
                                             'People: Place of Birth Foreign born':'Fraction Foreigner',
                                             'Workers: Occupation Management, business, science, and arts occupations':'Fraction Management, business, science, and arts occupation',
                                             'Workers: Occupation Service occupations':'Fraction Service occupations',
                                             'Workers: Occupation Sales and office occupations':'Fraction Sales and office occupations',
                                             'Workers: Occupation Natural resources, construction, and maintenance occupations':'Fraction Natural resources, construction, and maintenance occupations',
                                             'Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Total households':'Total households',
                                             'Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Less than $10,000':'Fraction of households with income below $10,000',
                                             'Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) $200,000 or more':'Fraction of households with income at $200,000 or more',
                                             'Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Median household income (dollars)':'Median household income',
                                             'Socioeconomic: Income and Benefits (In 2018 inflation-adjusted dollars) Mean household income (dollars)':'Mean household income',
                                             'Socioeconomic: Percentage of Families and People Whose Income in the Past 12 Months is Below the Poverty Level All people':'Fraction of all people below poverty level',
                                             'Education: Educational Attainment Percent high school graduate or higher': 'Fraction attaining at least high school graduation',
                                             'Workers: Occupation Production, transportation, and material moving occupations':'Fraction Production, transportation, and material moving occupations'})

Finally we add the state column and then save the file

In [34]:
district_frame['State'] = states
district_frame.to_csv(current_folder + '/data/resultingData/clean_district.csv') #Print the results to a csv file.   
district_frame

,District,Total Population,Percentage Male,Percentage Female,Median age(years),Race Total population,Fraction White,Fraction Black or A.American,Fraction Indian or Alaskan Native,Fraction Asian,...,"Fraction of households with income at $200,000 or more",Median household income,Mean household income,Fraction of all people below poverty level,Fraction attaining at least high school graduation,Most Employees,Largest Payroll,Most Establishments,Total Occupation,State
0,Alabama 1,715346,0.481645,0.518355,40.3,715346,0.670933,0.275239,0.009774,0.014856,...,0.036167,46445,65685,0.170,0.870,Retail trade,Manufacturing,Retail trade,302309,Alabama
1,Alabama 2,678122,0.481250,0.518750,38.8,678122,0.629199,0.321442,0.004185,0.010974,...,0.029845,48290,64712,0.180,0.857,Health care and social assistance,Health care and social assistance,Retail trade,277754,Alabama
2,Alabama 3,708409,0.488335,0.511665,39.2,708409,0.693084,0.259665,0.001835,0.018420,...,0.032363,45832,64442,0.181,0.855,Manufacturing,Manufacturing,Retail trade,294766,Alabama
3,Alabama 4,686297,0.490092,0.509908,40.5,686297,0.861266,0.074561,0.006398,0.004476,...,0.029537,45387,63553,0.176,0.829,Manufacturing,Manufacturing,Retail trade,286219,Alabama
4,Alabama 5,725634,0.494778,0.505222,39.5,725634,0.744043,0.180412,0.004304,0.016834,...,0.051529,57174,77865,0.129,0.888,"Professional, scientific, and technical services","Professional, scientific, and technical services",Retail trade,335078,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Wisconsin 5,731341,0.490269,0.509731,41.3,731341,0.902241,0.029012,0.002839,0.034065,...,0.078279,70271,95385,0.068,0.948,Manufacturing,Manufacturing,Health care and social assistance,388665,Wisconsin
433,Wisconsin 6,714886,0.505683,0.494317,41.9,714886,0.923484,0.021094,0.004823,0.023854,...,0.043228,59868,78267,0.090,0.924,Manufacturing,Manufacturing,Retail trade,367724,Wisconsin
434,Wisconsin 7,710420,0.503212,0.496788,44.7,710420,0.929920,0.007969,0.018889,0.017080,...,0.033673,57200,73533,0.096,0.920,Manufacturing,Manufacturing,Retail trade,355290,Wisconsin
435,Wisconsin 8,735997,0.499363,0.500637,40.7,735997,0.899565,0.016375,0.025837,0.021440,...,0.041632,61423,78602,0.083,0.928,Manufacturing,Manufacturing,Retail trade,380200,Wisconsin
436,Wyoming at-large,577737,0.506492,0.493508,38.5,577737,0.914695,0.006347,0.028014,0.010051,...,0.048833,61584,81935,0.111,0.933,Health care and social assistance,Health care and social assistance,Construction,287436,Wyoming

Now we've finished the cleaning of the two data files and can move on to the next part which will be data exploration, which will be done in two separate notebooks (one for each data file). However as a final step we'll merge the two datafiles. The code can also be found in the python file "data_cleaning_congress.py".

In [35]:
current_folder = os.getcwd()
dataM = current_folder + '/data/resultingData/clean_member.csv'
dataD = current_folder + '/data/resultingDAta/clean_district.csv'
member_data = pd.read_csv(dataM)
member_data = member_data.astype({'District': str}) #Make sure that column is a string
district_data = pd.read_csv(dataD)
district_data = district_data.astype({'District':str}) #Make sure that column is a string
data = pd.merge(member_data, district_data, on = 'District')
data = data.drop(columns = ['Unnamed: 0_x', 'Unnamed: 0_y'])
data['State'] = data['State'].str.strip()
data.to_csv(current_folder + '/data/resultingData/merged_data.csv')